.body{
    font-family: sans-serif;
}
.header-container{
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content:space-evenly;
    padding: 100px;
    margin: 30px; 
    background-color: #eeb2bf ;
    align-items: center;
}
.header-text{
    font-size: 35px;
    align-items: center;

}